@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300;700&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@500&family=Roboto:ital@1&family=Varela+Round&display=swap");

body {
  font-family: "Kanit", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
  font-family: "Varela Round", sans-serif;
  overflow-x: hidden;
}

.perant {
  height: 150vh;
  overflow: hidden;
  background-color: tan;
  position: relative;
}
.motion{
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  top: 200px;
  left: 100px;
}